
body{
    background-color: violet;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
.memeContainer{
    margin-right: 10cm;
}

    
    
    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }
    
    img {
        max-width: 300px;
        max-height: 300px;
        margin: 10px;
    }
    
/* styling the contact page */
#contact {
    height: 20cm;
}



    footer {
        background-color: #eee;
        padding: 10px;
        text-align: center;
    }
    
    #commentsContainer {
        margin-top: 10px;
    }
    .topnav a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover{
        background-color: rgb(221, 221, 221);
        color: rgb(0, 0, 0);
    }
    .topnav a.active{
        background-color: #04AA6D;
      color: white;
    }
    .topnav a.input[type=text]{
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 15px;
        font-size: 17px; 
    }